[toolchain]

[features]
seeds = false
skip-lint = false

[programs.localnet]
mint_spl_29 = "5wrfmBvkFaayrm8XYgXTvway4Rxt6ZBedt7sB4Z36A9c"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "http://127.0.0.1:8899"
wallet = "/Users/lmqrd/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "metadata.so"
upgradeable = true

